# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "aa4dc4ac403f243cc667c8586ca9c70d"
name = "product-content-enhancer-lotz"
application_url = "https://product-content-enhancer.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
scopes = "read_products, write_products,read_product_listings, write_product_listings"

[auth]
redirect_urls = [ "https://product-content-enhancer.onrender.com/auth/callback" ]
